/*  your css code here. If applicable */
#grid {
	width: 900px;
	height: 500px;
	display: grid;
	grid-template-column: 124px 124px 124px 124px 124px;
	grid-template-row: repeat(5, 100px);
	gap: 5px;
}

.item-1 {
	background-color: green;
	grid-column: 1/span 4;
	grid-row: 1/2;
}

.item-2 {
	background-color: green;
	grid-column: 1/2;
	grid-row: 2/6;
}

.item-3 {
	background-color: green;
	grid-column: 2/3;
	grid-row: 2/3;
}

.item-4 {
	background-color: green;
	grid-column: 3/5;
	grid-row: 2/3;
}
.item-5 {
	background-color: green;
	grid-column: 2/4;
	grid-row: 3/4;
}
.item-6 {
	background-color: green;
	grid-column: 4/5;
	grid-row: 3/4;
}
.item-7 {
	background-color: green;
	grid-column: 2/3;
	grid-row: 4/5;
}
.item-8 {
	background-color: green;
	grid-column: 3/4;
	grid-row: 4/5;
}
.item-9 {
	background-color: green;
	grid-column: 4/5;
	grid-row: 4/5;
}
.item-10 {
	background-color: green;
	grid-column: 2/5;
	grid-row: 5/6;
}